@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root { 
--Red: hsl(0, 100%, 74%); 
--Green: hsl(154, 59%, 51%);
--Blue: hsl(248, 32%, 49%);
--Dark-Blue: hsl(249, 10%, 26%);
--Grayish-Blue: hsl(246, 25%, 77%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: white;
}

.container {
  margin: 100px auto;
  width: 375px;
  background-color: var(--Red);
  padding: 20px;
  background-image: url(./images/bg-intro-mobile.png);
}

.left-section {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
}

h1 {
  font-size: 28px;
}

.description {
  line-height: 1.6rem;
  font-weight: 400;
  font-size: 17px;
}

.free-trail {
  background-color: var(--Blue);
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0px 8px 0px 0px rgba(132,126,126,0.75);
}

.try-bold {
  font-weight: 700;
}

form {
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 8px 0px 0px rgba(132,126,126,0.75);
}

.input-control {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
}

input {
  padding: 15px;
  width: 90%;
  margin: 10px;
  border-radius: 5px;
  border-color: rgb(238, 238, 238);
}

.input-control input:focus {
  outline: 0;
}

.input-control.success input {
  border-color: #09c372;
}

.input-control.error input {
  border-color: #ff3860;
}

.input-control .error {
  color: #ff3860;
  font-size: 9px;
  height: 13px;
}

.error-icon {
display: none;
position: absolute;
right: 20px;
top: 20px;
}

#input-btn {
  background-color: var(--Green);
  color: white;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
}

#input-btn:hover {
  opacity: 70%;
}

.terms-of-services {
  color: var(--Grayish-Blue);
  font-size: 14px;
  text-align: center;
}

.terms-of-services span {
  color: var(--Red);
  font-weight: 600;
}

.attribution {
  color: black;
}

.error {
  align-self: flex-end;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container {
    width: 375px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .container {
    width: 550px;
  }

  .error-icon {
    right: 30px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .container {
    width: 650px;
    background-image: url(./images/bg-intro-desktop.png);
    display: flex;
    flex-direction: row;
  }

  .left-section {
    margin: 20% auto;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .right-section {
    margin: 10% auto;
  }

  h1 {
    margin-bottom: 8%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .container {
    width: 900px;
  }

  .left-section {
    width: 50%;
  }

  h1 {
    font-size: 38px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .container {
    width: 1100px;
  }

  h1 {
    font-size: 44px;
  }
}